<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Test</title>
    <style>
        li.checked {
            text-decoration:line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <p> {{ title }}</p>
        <ul>
            <todo-item
                    v-for="todo in todos"
                    v-bind:todo="todo"
            ></todo-item>
            <todo-input></todo-input>
        </ul>
    </div>

    <template id="todo-item">
        <li v-bind:class="{ checked : todo.checked }"><input type="checkbox" v-on:click="checkTodo()">{{ todo.text }}</li>
    </template>

    <template id="todo-input">
        <li><input type="text" @keyup.enter="makeNewTodo()" v-model="text"></li>
    </template>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
    <script>

        var config = {
            apiKey: "AIzaSyA0b5k5WLZazkFYSqKpWVIZ5IjbNHkkrmM",
            authDomain: "todo-list-d30f9.firebaseapp.com",
            databaseURL: "https://todo-list-d30f9.firebaseio.com",
            projectId: "todo-list-d30f9",
            storageBucket: "todo-list-d30f9.appspot.com",
            messagingSenderId: "541686758504"
        };
        firebase.initializeApp(config);


        var db = firebase.database();

        var todosRef = db.ref("rkdgusrnrlrl/todos");
/*
        todosRef.on('child_changed', function(data) {
            console.log(data)
        });
*/
        /*
        var newId = todosRef.push().key;
        var todoData = {};
        todoData[newId] = { id : newId, text : "할일1", checked : false };
        todosRef.update(todoData);
        */

        var app;

        todosRef.on('child_changed', function(data) {
            console.log(data.toJSON());
        });



        var store = new Vuex.Store({
            state : {
                title : "할일 목록",
                todos : {}
            },
            mutations: {
                changeTodo : function (state, id, todo) {
                    console.log(state);
                    state.todos[id] = todo;
                },
                setTodos : function (state, todosData) {
                    state.todos = todosData;
                },
                appendTodo : function (state, todo) {
                    console.log(state);
                    Vue.set(state.todos, todo.id, todo);
                }
            },
            getters : {
                getTodos : function (state) {
                    return state.todos;
                }
            }
        });

        todosRef.on('child_added', function(data) {
            const todo = data.toJSON();
            store.commit('appendTodo', todo);
        });

        Vue.component('todo-item', {
            template : '#todo-item',
            props : ['todo'],
            mounted : function () {
                console.log("todo mounted");
            },
            methods : {
                hello : function () {
                    console.log(this.todo.id);
                },
                checkTodo : function () {
                    var newTodo = {};
                    if (this.todo.checked) {
                        newTodo = _.assign(this.todo, {checked : false})
                    } else {
                        newTodo = _.assign(this.todo, {checked : true})
                    }
                    store.changeTodo(this.todo.id, newTodo);
                }
            }
        });

        Vue.component('todo-input', {
            template : '#todo-input',
            props : ['text'],
            methods : {
                makeNewTodo : function () {
                    var newId = todosRef.push().key;
                    var todoData = {};
                    todoData[newId] = { id : newId, text : this.text, checked : false };
                    todosRef.update(todoData);
                    this.text = "";
                }
            }
        });

        todosRef.once('value', function (data) {
            var rawDate = data.toJSON();

            store.commit('setTodos', rawDate);
            app = new Vue({
                el : "#app",
                computed : {
                    todos : function () {
                        return store.state.todos;
                    },
                    title : function () {
                        return store.state.title;
                    }
                }
            });
        });


    </script>
</body>
</html>