<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Test</title>
    <style>
        li.checked {
            text-decoration:line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <p> {{ title }}</p>
        <ul>
            <todo-item
                    v-for="todo in todos"
                    v-bind:todo="todo"
            ></todo-item>
        </ul>
    </div>

    <template id="todo-item">
        <li v-bind:class="{ checked : todo.checked }"><input type="checkbox" v-model="todo.checked">{{ todo.text }}</li>
    </template>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
    <script>

        var config = {
            apiKey: "AIzaSyA0b5k5WLZazkFYSqKpWVIZ5IjbNHkkrmM",
            authDomain: "todo-list-d30f9.firebaseapp.com",
            databaseURL: "https://todo-list-d30f9.firebaseio.com",
            projectId: "todo-list-d30f9",
            storageBucket: "todo-list-d30f9.appspot.com",
            messagingSenderId: "541686758504"
        };

        firebase.initializeApp(config);

        var db = firebase.database();

        db.ref("rkdgusrnrlrl/todosF")

        Vue.component('todo-item', {
            template : '#todo-item',
            props : ['todo']
        });

        var app = new Vue({
            el : "#app",
            data : {
                title : "할일관리",
                todos : [
                    { id : 1, text : "할일1", checked : false },
                    { id : 2, text : "할일2", checked : false },
                    { id : 3, text : "할일3", checked : false },
                    { id : 4, text : "할일4", checked : false },
                ]
            }
        });
    </script>
</body>
</html>